.map-overlay {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
    width: 400px;

    background: white;
    border-radius: 12px;
    padding: 1rem 1.25rem;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
